@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.fa-check-square {
  color: #218fef;
}

.fa-square-o {
  color: #979797;
}

.rct-node-icon {
  padding: 0;
}

label {
  display: flex;
}

.fa-plus,
.fa-minus {
  bottom: 2px;
  position: relative;
}
